# Node / app
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ambiente
.env
.env.*

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
docker-compose.override.yml

# Segurança (CRÍTICO)
*.json